<div class="service">
  {%- for section in site.data.services -%}
  <div class="service-item">
    <strong>{{ section.category }}:</strong> 
    {{ section.items | join: ", " }}
  </div>
  {%- endfor -%}
</div>