<div class="service">
  {%- for section in site.data.services -%}
  <div class="service-item">
    <strong style="font-weight: bold;">{{ section.category }}:</strong>
    {{ section.items | join: ", " }}
  </div>
  {%- endfor -%}
</div>